/* styles.css */

/* Estilos para el botón */
.buttonStyle {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px; /* Cambiado de borderRadius a border-radius */
    padding: 10px;
    margin-bottom: 5px; /* Cambiado de marginBottom a margin-bottom */
    background-color: #fff;
    transition: background-color 0.3s ease;
  }
  
  
  .buttonStyle:hover {
    background-color: #cce5ff;
  }
  
  /* Estilos para el acordeón */
  .accordionStyle {
    border-right: 10px solid #ccc;
    width: 15%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  /* Estilos para el contenido */
  .contentStyle {
    margin-left: 17%;
  }
  